{% macro paginate(pagination) %}
    {% set after = false %}
    {% set before = false %}
    <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({("ppage"~pagination.identifier):1})) }}"
       class="{% if pagination.current == 0 or pagination.current == 1 %}active{% endif %}">1</a>
    {% if(pagination.pages>1) %}
        {% for page in 2..(pagination.pages) %}
            {% if (page <= pagination.current +2 and page >= pagination.current-2) or loop.index+1 == pagination.pages %}
                <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({("ppage"~pagination.identifier):page})) }}"
                   class="{% if pagination.current == page %}active{% endif %}">{{ page }}</a>
            {% endif %}

            {% if page > pagination.current+2 and after == false and pagination.pages > 4 %}
                ...
                {% set after = true %}
            {% endif %}
            {% if page < pagination.current-2 and before == false %}
                ...
                {% set before = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro seeMore(pagination, BtnText, class) %}
    {% if pagination.pages > pagination.current %}
        <button data-href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({("ppage"~pagination.identifier):(pagination.current+1),ppartial:true})) }}" class="btn-paginatation see-more {{ class }}" data-page="{{ pagination.current+1 }}">{{ BtnText }}</button>
    {% endif %}
{% endmacro %}