{% macro paginate(pagination,displayAfterBefore = true) %}
    {% if not displayAfterBefore %}
        {{ _self.paginate(pagination) }}
    {% else %}
        {{ _self.paginateWithAfterBeforeNumber(pagination) }}
    {% endif %}
{% endmacro %}
{% macro paginateWithAfterBeforeNumber(pagination) %}
    {% set after = false %}
    {% set before = false %}
    <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({("ppage"~pagination.identifier):1})) }}"
       class="{% if pagination.current == 0 or pagination.current == 1 %}active{% endif %}">1</a>
    {% if(pagination.pages>1 ) %}
        {% for page in 2..(pagination.pages) %}
            {% if ((page <= pagination.current +2 and page >= pagination.current-2) or loop.index+1 == pagination.pages  )%}
                <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({("ppage"~pagination.identifier):page})) }}"
                   class="{% if pagination.current == page %}active{% endif %}">{{ page }}</a>
            {% endif %}

            {% if page > pagination.current+2 and after == false and pagination.pages > 4 %}
                ...
                {% set after = true %}
            {% endif %}

            {% if page < pagination.current-2 and before == false %}
                ...
                {% set before = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro paginate(pagination) %}
    {% for page in 1..(pagination.pages) %}
        {% if (page <= pagination.current +2 and page >= pagination.current-2) or (pagination.current <=3 and  page <= 5)  or (pagination.current >= pagination.pages - 2 and page >= pagination.pages -4) %}
            <a href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({("ppage"~pagination.identifier):page})) }}"
               class="{% if pagination.current == page %}active{% endif %}">{{ page }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro seeMore(pagination, BtnText = "Voir plus", class = "", data_attrs= {}) %}
    {% set lastEntityId = 0 %}
    {% for entity in pagination.entities %}
        {% if entity is iterable %}
            {% set lastEntityId = entity[0].id %}
        {% else %}
            {% set lastEntityId = entity.id %}
        {% endif %}
    {% endfor %}
    {% if pagination.pages > pagination.current %}
        <button
                {% for key,data_attr in data_attrs %}
                    data-{{ key }}="{{ data_attr }}"
                {% endfor %}
                data-href="{{ url(app.request.get('_route'),app.request.get('_route_params')|merge(app.request.query.all)|merge({
                    ("ppage"~pagination.identifier):(pagination.current+1),
                    ("ppartial"~pagination.identifier):true,
                    ("plentid"~pagination.identifier):lastEntityId??0
                })) }}"
                class="btn-paginatation see-more {{ class }}"
                data-page="{{ pagination.current+1 }}">
            {{ BtnText }}
        </button>
    {% endif %}
{% endmacro %}